html,body{
    font-family: 'Roboto', sans-serif;
}
#mainbtn_container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#mainbtn_container #btnContainer button{
    display: block;
    width:200px;
    height:60px;
    margin-bottom:20px;
    
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    border:2px black solid;
    font-size:20px;

    transition: all .5s;
}
#mainbtn_container #btnContainer button:hover{
    background-color: white;
    color: #000000;
}

#messageBox{
    position: absolute;
    width:400px;
    height:50px;
    border-radius:10px;
    background-color: #F8F8FF;
    text-align: center;

    top:10px;
    left:-100%;
    z-index: 9;

    transition: all .5s;
}

#messageBox p{
    font-size:20px;
    margin:12px;
}