
#mainContainer{

    position: absolute;
    width: 100%;
    height: 100%;
    /* left: 50%; */
    /* margin-left: -425px; */
    /* top: 50px; */
    /* text-align: center; */
    /* background-color: antiquewhite; */
    transition: all 1s;
}
#mainContainer .questionItemContainer{
    width: 100%;
    position: relative;
    /*height:.questionItem.height+.answersContainer.height;*/
    overflow: hidden;

    margin-top:1%;
    transition: all .3s;
}
#mainContainer .questionItem{
    width:60%;
    background-color: cadetblue;

    position: relative;
    border:2px solid white;
    left:50%;
    transform: translate(-50%);
    border-radius:10px;

    overflow: hidden;
    transition: all .3s;
}

.clearfix:after{
    content:".";
    display: block;
    height:0;
    clear: both;
    visibility: hidden;
}

#mainContainer .questionItem .questionContent .questionText{
    position: relative;
    width:65%;

    /*padding-left:10px;*/

    float: left;
}
#mainContainer .questionItem .questionContent .showAnswersBtn{
    position: absolute;
    width:35%;
    height:100%;
    text-align: center;

    right:0;
}
#mainContainer .questionItem .questionContent .showAnswersBtn .showAnswers{
    position: relative;
    width:100%;
    height:100%;

    background-color: black;
    color: white;

    border:1px solid black;
    /*border-left:none;*/
    cursor: pointer;
    font-size:20px;
    border-radius: 0 10px 10px 0;

    transition: all .3s;
}
#mainContainer .questionItem .questionContent{
    position: relative;
}
#mainContainer .questionItem .questionContent .showAnswersBtn .showAnswers:hover{
    background-color: white !important;
    color: #3c3c3c !important;
}

#mainContainer .questionContent questionText{
    margin:10px 10px 10px 10px;
    font-size:20px;
    color: white;
}

#mainContainer .questionItemContainer .answersContainer{
    position: absolute;
    width: 60%;
    background-color: whitesmoke;
    margin: 10px 0 10px 0;
    left: 50%;
    /* overflow: hidden; */
    transform: translate(-50%);
}

#mainContainer .questionItemContainer .answersContainer .answerBlock{
    position: relative;
    display: block;
    border:1px solid #3c3c3c;
    margin:10px 0 10px 0;
}

#mainContainer .questionItemContainer .answersContainer .answerBlock .answerIndex{
    position: absolute;
    width: 10%;
    height:100%;
    vertical-align: middle;
    /*padding-right: 100%;*/
    /*border-right:1px solid #000000;*/
    background-color: black;
    color: white;
    float: left;
    font-size: 20px;
    margin: 0;
}

#mainContainer .questionItemContainer .answersContainer .answerBlock .answerIndex span{
    display: block;
    top: 50%;
    position: relative;
    margin-top: -11.5px;
    text-align: center;
}

#mainContainer .questionItemContainer .answersContainer .answerBlock .answerContent{
    position: relative;
    width: 80%;
    left: 12%;
}
#mainContainer .questionItemContainer .answersContainer .rightAnswer{
    border:1.5px solid #88b5e6;
    box-shadow: 0px 0px 10px #88b5e6;
}

#mainContainer .questionItemContainer .fnBtnContainer{
    position: absolute;
    top:100%;
    width:100%;
    height:100%;
    z-index:10;
    background-color: rgba(0,0,0,0.3);

    transition: all .3s;
}

#mainContainer .questionItemContainer .fnBtnContainer .editBtnContainer{
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    /* left: 50%; */
    top: 50%;
    transform: translate(0,-50%);
}
/*#mainContainer .questionItemContainer .fnBtnContainer .editBtnContainer .editQuuestion{*/
    /*margin:5px;*/
/*}*/

#mainContainer .questionItemContainer .fnBtnContainer .editBtnContainer button{
    display: inline;
    width:80px;
    height:50px;
    background-color: transparent;
    color: white;
    border:2px solid white;
    font-size:20px;
    margin:0 20px 0 20px;
    cursor: pointer;
    border-radius:10px;

    transition: all .3s;
}
#mainContainer .questionItemContainer .fnBtnContainer .editBtnContainer button:hover{

    background-color: white;
    color: black;

}
#mainContainer .questionContent .questionText .textContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index:9;
    /* padding: 10px; */
}

#mainContainer .questionContent .questionText p{
    padding: 0 10px 0 10px;
}

.noDataBox{
    position: absolute;
    width:50%;
    font-size:30px;
    font-weight: bold;

    color: black;

    top:35%;
    text-align: center;
    left:50%;

    transform: translate(-50%,-50%);
}