html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: Arial;
}
#panelContainer{
    position: absolute;
    /*display: none;*/
    z-index: -1;
    opacity: 0;
    width:100%;
    height:100%;
    background-color: transparent;

    transition: all .6s;
}

/*
    addPanel style
*/
#panelContainer .panel{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);

    width: 450px;
    height: auto;
    padding: 80px 60px;
    overflow: hidden;
    background-color: white;

    border: 1px solid #3c3c3c;
    border-radius: 15px 15px 8px 8px;
    box-shadow: 20px 20px 20px 0px black;

    transition: all .3s;
}
.topbar{
    position: absolute;
    height:40px;
    width:100%;
    margin-left:-60px;
    top:0;
    border-radius: 15px 15px 0 0;
    background-color: #3c3c3c;
}
.topbar p{
    margin: 0;
    top: 50%;
    position: relative;
    margin-top: -10px;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}
 .topbar .exitBtn{
    position: relative;
    display: block;
    top:0;
    width:40px;
    height:40px;

    cursor: pointer;
    
    border-right: 1px solid white;
    transform: scale(1);
    transition: all .5s;
}
 .topbar span .i{
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
    top: 50%;
    left:50%;
    margin-left:-15px;
    margin-top: -1px;

    transition: all .3s;
}
/*#addFnPanel .topbar span a:nth-child(1){*/
    /*transform: rotate(-45deg);*/
/*}*/
/*#addFnPanel .topbar span a:nth-child(2){*/
    /*transform: rotate(45deg);*/
/*}*/

 .mainBox{
    position: relative;
    /* width: 400px; */
    height: auto;
    /* display: inline-block; */
    margin: 0 auto;
    /* left: 50%; */
    /* overflow: scroll; */
}
 .mainBox{
    overflow: hidden;
}
 .mainBox .form div:nth-child(1){
    position: absolute;
    /* width: 100%; */
    width: 410px;
    background-color: white;
    top: 0;
    margin-top:0;
    box-shadow: -3px 1px 20px -5px black;
}

 .mainBox .form div:nth-child(1) p{
    font-size: 25px;
    margin: 0;
}
 .mainBox .form div:nth-child(2){
    margin-top:136px;
}

.form{
    overflow: auto;
    max-height: 450px;
    width: 410px;
    padding-right: 40px;
}
.form p{
    /*margin:0;*/
    display: inline-block;
}
.form div:nth-child(1) p{
    float: left;
}
.form textarea{
    font-size: 18px;
    width:260px;
    height:100px;
    display: inline-block;

    transition: all .5s;
}
.form .answer{
    width:260px;
    height:30px;
    font-size:15px;
    padding:0;
}
.form .floatRight{
    float: right;
}
.form input[type="checkbox"]{
    width:32px;
    height:32px;
    float: right;
}
.form div{
    overflow: hidden;
    margin-top:5px;
}
.mainBox div button{
    position: relative;
    height:50px;
    margin-top:50px;

    font-size:20px;
    font-weight: bold;
    cursor: pointer;

    background-color: #ffffff;
    border-radius:10px;

    transition: all .5s;
}
.addAnswerBtn{
    width:79%;

    float: left;

    color: #3c3c3c;
    border:1px solid #3c3c3c;

}
.addAnswerBtn:hover{
    background-color: #3c3c3c;
    color: white;
}
.addAnswerBtn:active{
    background-color: white;
    color: #3c3c3c;
}

#saveQuestion{
    width:18%;

    float: right;

    color: firebrick;

    border:1px solid firebrick;
}
#saveQuestion:hover{
    background-color: firebrick;
    color: white;
}
#saveQuestion:active{
    background-color: white;
    color: firebrick;
}

/*editPanel*/
.updateQuestion{
    width: 100%;
    /* top: 155%; */
    border: 1px solid black;
    /* bottom: -100px; */
    top: 60px;
    
    transition: all .2s;

}
.updateQuestion:hover{
    background: black;
    color: white;
}